In [235]:
import pandas as pd
import numpy as np
import seaborn as sns
import os
from matplotlib import pyplot as plt
import matplotlib

In [194]:
ROOT_DIR = os.getcwd()
DATA_DIR = os.path.join(ROOT_DIR, 'data')

In [195]:
dataset_train = pd.read_csv(os.path.join(DATA_DIR, 'train.csv'))
dataset_test = pd.read_csv(os.path.join(DATA_DIR, 'test.csv'))
submission = pd.read_csv(os.path.join(DATA_DIR, 'submission_1002.csv'))

## Train dataset

In [196]:
dataset_train.head(5)

,Time,X692,X1272,X553,X1299,X4,X598,X1003,X1010,X1216,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
0,2016-07-26 11:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-07-26 12:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-07-26 13:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-07-26 14:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-07-26 15:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [197]:
print("{start_time} 부터 {end_time} 까지 전력 데이터".format(start_time=min(dataset_train['Time']), end_time=max(dataset_train['Time'])))
dataset_train.describe()

2016-07-26 11:00 부터 2018-06-30 23:00 까지 전력 데이터

,X692,X1272,X553,X1299,X4,X598,X1003,X1010,X1216,X1047,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
count,3064.000000,3065.000000,3041.000000,3006.000000,0.0,3041.000000,2937.000000,3048.000000,3064.000000,3062.000000,...,3040.000000,3066.000000,3035.000000,6766.000000,3040.000000,3065.000000,3034.000000,1747.000000,3044.000000,3041.000000
mean,0.371506,0.410571,0.519877,0.260363,NaN,0.268325,0.378017,0.424614,0.302138,0.273101,...,0.410577,0.441267,0.271726,0.141011,0.384662,0.552852,0.487484,2.881876,0.356959,0.339762
std,0.190358,0.272845,0.236184,0.231955,NaN,0.149223,0.267603,0.267227,0.157183,0.184067,...,0.270049,0.295568,0.146547,0.116648,0.254653,0.386933,0.277884,1.915190,0.189310,0.198999
min,0.049000,0.066000,0.053000,0.017000,NaN,0.034000,0.052000,0.052000,0.071000,0.037000,...,0.058000,0.074000,0.022000,0.007000,0.048000,0.045000,0.041000,0.216000,0.038000,0.057000
25%,0.271000,0.225000,0.416000,0.114000,NaN,0.162000,0.207000,0.285000,0.212000,0.163000,...,0.266000,0.242000,0.198000,0.055000,0.214000,0.251000,0.280000,1.360500,0.242000,0.218000
50%,0.329000,0.338000,0.485000,0.176500,NaN,0.228000,0.274000,0.347500,0.281000,0.216000,...,0.332000,0.384000,0.233000,0.122000,0.317500,0.477000,0.432000,2.469000,0.326000,0.290000
75%,0.430000,0.536000,0.581000,0.339000,NaN,0.346000,0.483000,0.466000,0.344000,0.313750,...,0.475000,0.545000,0.309500,0.173000,0.500000,0.758000,0.663750,4.209500,0.432250,0.449000
max,4.104000,4.837000,6.232000,5.624000,NaN,2.718000,5.418000,4.426000,2.899000,2.684000,...,5.929000,4.562000,3.209000,1.768000,4.443000,7.773000,4.414000,9.088000,3.921000,5.049000

In [198]:
# Time column(str type) datetime 객체로 변경
import datetime

dataset_train['Time'] = pd.Series([datetime.datetime.strptime(x, "%Y-%m-%d %H:%M") for x in dataset_train['Time']])

In [199]:
dataset_train.head(5)

,Time,X692,X1272,X553,X1299,X4,X598,X1003,X1010,X1216,...,X1164,X656,X1287,X324,X767,X1271,X1288,X58,X1033,X1163
0,2016-07-26 11:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2016-07-26 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2016-07-26 13:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2016-07-26 14:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2016-07-26 15:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [200]:
print("미터기 수: {}개".format(len(dataset_train.columns) - 1))
print('미터기는 {}부터 {}까지 입니다.'.format(min(dataset_train.columns[1:], key=lambda x: int(x.replace('X', ''))), 
                                   max(dataset_train.columns[1:], key=lambda x: int(x.replace('X', '')))))

미터기 수: 1300개
미터기는 X1부터 X1500까지 입니다.

In [244]:
# null 개수
null_count = [dataset_train[col].isnull().sum() for col in dataset_train.columns[1:]]
print('null 개수 최소값: {}'.format(np.min(null_count)))
print('null 개수 최대값: {}'.format(np.max(null_count))) 
print('null 개수 평균값: {}'.format(np.mean(null_count)))
print('총 row 개수: {}'.format(len(dataset_train)))

null 개수 최소값: 0
null 개수 최대값: 16909
null 개수 평균값: 13054.977692307692
총 row 개수: 16909

## Test dataset

In [73]:
dataset_test.head(5)

,Time,X26,X303,X241,X435,X402,X352,X305,X350,X326,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
0,2017.7.1 0:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.275,0.021,NaN
1,2017.7.1 1:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.222,0.021,NaN
2,2017.7.1 2:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.237,0.021,NaN
3,2017.7.1 3:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.229,0.020,NaN
4,2017.7.1 4:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.202,0.021,NaN

In [42]:
print("{start_time} 부터 {end_time} 까지 전력 데이터".format(start_time=min(dataset_test['Time']), end_time=max(dataset_test['Time'])))
print("미터기 수: {}".format(len(dataset_test.columns) - 1))
dataset_test.describe()

2017.10.1 0:00 부터 2018.6.9 9:00 까지 전력 데이터
미터기 수: 200

,X26,X303,X241,X435,X402,X352,X305,X350,X326,X299,...,X283,X329,X223,X266,X20,X443,X347,X75,X107,X230
count,1757.000000,6908.000000,6866.000000,6752.000000,6757.000000,6857.000000,6739.000000,6834.000000,6723.000000,6743.000000,...,6872.000000,7062.000000,6831.000000,6671.000000,1757.000000,6763.000000,6748.000000,8760.000000,8760.000000,6651.000000
mean,1.472014,0.503509,0.339697,0.333051,0.357780,0.226552,0.424325,0.347813,0.096840,0.253864,...,0.230307,0.214052,0.341709,0.323324,0.219365,0.262912,0.237281,1.356384,0.410571,0.374754
std,0.501135,0.344405,0.170168,0.159685,0.262369,0.163054,0.259619,0.161057,0.105429,0.165962,...,0.131057,0.146844,0.184072,0.214725,0.673083,0.169633,0.183557,1.915454,0.845600,0.185928
min,0.712000,0.049000,0.047000,0.038000,0.030000,0.006000,0.051000,0.058000,0.005000,0.015000,...,0.018000,0.004000,0.029000,0.020000,0.088000,0.008000,0.011000,0.113000,0.004000,0.042000
25%,1.098000,0.281000,0.260000,0.245000,0.185000,0.107000,0.276000,0.255000,0.029000,0.152000,...,0.151000,0.091000,0.235000,0.176000,0.091000,0.163000,0.137000,0.231000,0.028000,0.263000
50%,1.337000,0.434000,0.321000,0.312000,0.271000,0.200000,0.367000,0.311000,0.080000,0.239000,...,0.201000,0.175000,0.302000,0.283000,0.092000,0.251000,0.195000,1.102000,0.062000,0.345000
75%,1.723000,0.612250,0.395000,0.392000,0.479000,0.290000,0.518000,0.421000,0.123000,0.329000,...,0.286250,0.328000,0.414500,0.422500,0.267000,0.326000,0.283000,1.352250,0.225000,0.454000
max,4.895000,6.572000,4.864000,4.387000,6.410000,3.118000,6.861000,3.650000,1.603000,4.156000,...,3.081000,3.729000,3.956000,5.920000,11.991000,3.571000,4.284000,18.862000,5.859000,6.102000

In [38]:
submission.head(5)

,meter_id,X2018_7_1_1h,X2018_7_1_2h,X2018_7_1_3h,X2018_7_1_4h,X2018_7_1_5h,X2018_7_1_6h,X2018_7_1_7h,X2018_7_1_8h,X2018_7_1_9h,...,X2018_7_6_d,X2018_7_7_d,X2018_7_8_d,X2018_7_9_d,X2018_7_10_d,X2018_7_m,X2018_8_m,X2018_9_m,X2018_10_m,X2018_11_m
0,X5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,X7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,X10,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,X16,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,X18,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [41]:
print('미터기 수: {}'.format(len(submission['meter_id'])))

미터기 수: 200